/* #wave {
    position: relative;
    height: 70px;
    width: 100%;
    background: #e0efe3;
}

#wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 53%;
    height: 80px;
    background-color: white;
    right: -5px;
    top: 40px;
}

#wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 54%;
    height: 70px;
    background-color: #e0efe3;
    left: 0;
    top: 27px;
} */

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    resize: horizontal;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
    height: auto;
}